<div class="riiiiii">
  <div>
      <div class= "ui-g-1"></div>
        <div>Avatar</div>
      <div class= "ui-g-4"></div>
      <h3>Nick Name</h3>
      <input id="disabled-input" type="nickName" size="30" pInputText [disabled]="disabledNickName" />
      
      <button id="disabled-btn" type="button" (click)="toggleDisabledNickName()" pButton label="Edit"></button>
          <hr>
          <h3>Bio</h3>
          <!-- <input id="disabled-input" type="text" size="30" pInputText [disabled]="disabled" /> -->
          <textarea pInputTextarea [(ngModel)]="bio"></textarea>
          
          <button id="disabled-btn" type="button" (click)="toggleDisabledBio()" pButton label="Edit" [disabled]="toggleDisabledBio"></button>
          
        <div class="ui-g-7"></div>
  </div>
  <div>
      <p-button label="Save" ></p-button>
  </div>

    <hr>

  <!-- <div style="float: down 100px">
      <div class=ui-g-1></div>
        <div>Panda News/Messages</div>
      <div class=ui-g-3></div>
      <div class=ui-g-8></div>
        <div>Chat over here : </div>
  </div>
<p-button label="Edit" icon="fa fa-pencil" iconPos="left"></p-button> -->
</div>
